@import url("https://fonts.googleapis.com/css?family=Poiret+One|Arapey|Caveat");

body {
  Margin : auto 0 ;
  Padding-top : 120px;
  font-family : Caveat ,sanz ;
  font-size : 22px;
  font-weight: bolder;
  color : white ;
  background-color : Navy ;
  display : flex;
  justify-content: center;
}
button , input{
  width : 100%;
}
 #div2{
   padding-top : 20px;
 }

  #div3{
    padding-top:14px;
  }
